*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}
html{
    --Blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
    font-size: 20px;
}
body{
    text-align: center;
    padding: 1rem;
}
.logo{
    width: 5%;
    margin: 2rem 0;
}
h1{
    font-size: 2rem;
    font-weight: 300;
    color: var(--Gray);
    margin-bottom: .5rem;
}
b{
    color: var(--Very-Dark-Blue);
}
.main__description{
    font-size: .8rem;
    margin-bottom: 2rem;
}
form{
    position: relative;
}
input{
    width: 25%;
    padding: .8rem 1.5rem;
    border: 1px solid var(--Pale-Blue);
    border-radius: 2rem;
    outline: none;
}
::placeholder{
    color: var(--Gray);
}
.invalid{
    border-color: var(--Light-Red);
}
.error{
    color: var(--Light-Red);
    font-style: italic;
    font-size: .6rem;
    position: absolute;
    bottom: 45%;
    left: 33%;
}
.pattern-error, .empty{
    display: none;
}
button{
    padding: .8rem 2.5rem;
    margin-bottom: 4rem;
    margin-left: .5rem;
    background-color: var(--Blue);
    color: white;
    border: none;
    border-radius: 2rem;
    box-shadow: 0px 11px 37px -4px rgba(194,211,255,0.95);
    -webkit-box-shadow: 0px 11px 37px -4px rgba(194,211,255,0.95);
    -moz-box-shadow: 0px 11px 37px -4px rgba(194,211,255,0.95);
}
button:hover{
    background-color: hsl(223, 87%, 70%);
}
.main__illustration{
    max-width: 25rem;
    object-fit: scale-down;
    margin-bottom: 2rem;
}
.social-icon{
    width: 30px;
    margin-left: .5rem;
}
small{
    font-size: .5rem;
    color: var(--Gray);
}
@media (max-width:768px){
    .logo{
        width: 20%;
    }
    h1{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input{
        width: 100%;
        margin-bottom: .5rem;
    }
    .error{
        position:static;
        margin-bottom: 1rem;
    }
    button{
        width: 100%;
    }
    .main__illustration{
        width: 100%;
    }
}